@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}
html{
    scroll-behavior: smooth;
}
a{
    text-decoration: none;
    color: #fff;
}
body{
    min-width: 375px;
    overflow-x: hidden;
}
header{
    background: #0F172A;
    color: #fff;
    padding:  15px;
    position: sticky;
    width: 100%;
    z-index: 999;
    top: 0;
    left: 0;
    box-shadow: 0 0 10px rgba(0, 0, 0,0.6);
}
header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1100px;
    margin: 0 auto;
}
header nav div:nth-child(1) p{
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 1px;
    cursor: pointer;
}
header nav div:nth-child(1) p span{
    color: #3B82F6;
   
}
header nav div:nth-child(1) p span i{
    font-size: 18px;
}
header nav div:nth-child(4){
    display: none;
} 
.menu-mobile{
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background: #0f295388;
    padding:  15px 20px;
    width: 100%;
    position: absolute;
    top: 52px;
    left: 0;
    transform: translateY(-305px);
    transition: all 0.3s ease-in-out;
}
.showBtn{
    transform: translateY(0);
}
header nav #menu{
    display: flex;
    align-items: center;
    gap: 15px;
}
header nav div:nth-child(2) a,header nav div:nth-child(5) a{
    text-transform: capitalize;
    font-size: 16px;
    font-weight: 500;
    padding: 8px 15px;
    transition: all 0.3s ease-in-out;
}
header nav div:nth-child(2) a:hover,header nav div:nth-child(3) a span:hover{
    color: #3B82F6;
}
header nav div:nth-child(3) a,header nav div:nth-child(5) a:last-child{
    display: flex;
    align-items: center;
    gap: 8px;
    text-transform: capitalize;
    font-weight: 500;
    letter-spacing: 1px;
    border: 2px solid #3B82F6;
    padding: 8px 15px;
    border-radius: 20px;
    transition: all 0.3s ease-in-out;
}
header nav div:nth-child(3) a i,header nav div:nth-child(5) a:last-child i{
    font-size: 25px;
    transition: all 0.3s ease-in-out;
}
header nav div:nth-child(3) a span,header nav div:nth-child(5) a:last-child span{
    transition: all 0.3s ease-in-out;

}
header nav div:nth-child(3) a i:hover,header nav div:nth-child(5) a:last-child i:hover{
    color: gray;
}
.about-section{
    background:#0F172A;
    width: 100%;
    height: 100vh;
}
.about-container{
    max-width: 1100px;
    margin: 0 auto;
    transform: translateY(100px);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.about-container div:nth-child(1) p{
    color: #fff;
    font-weight: 600;
    font-size: 45px;
    line-height: 64px;
    letter-spacing: 2px;
}
.about-container div:nth-child(1) p:nth-child(3){
    font-size: 30px;
    font-weight: 700;
}
.about-container div:nth-child(1) p:nth-child(3) span{
    color: #3B82F6;
    animation: animation1 2s ease-in-out infinite;
}
.about-container div:nth-child(1) p:nth-child(4){
    font-size: 20px;
    max-width: 550px;
    color: #d7d7d7;
}
.about-container div:nth-child(1) p:nth-child(4) span:nth-child(1){
    color: #3B82F6;
}
.about-container div:nth-child(1) p:nth-child(4) span:nth-child(2){
    color: rgb(58, 224, 58);
}
.about-container div:nth-child(1) button,.about-container div:nth-child(1) .buttons a{
    background: none;
    color: #fff;
    padding: 8px 15px;
    border: none;
    outline: none;
    font-size: 20px;
    cursor: pointer;
    border: 2px solid #3B82F6;
    border-radius: 20px;
    text-transform: capitalize;
    transition: all 0.3s ease-in-out;
    margin-top: 15px;
}
.about-container div:nth-child(1) button:hover,.about-container div:nth-child(1) .buttons a:hover{
    color: #3B82F6;
}
.about-container div:nth-child(2){
    min-width: 40%;
    height: 550px;
}
.about-container div:nth-child(2) img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.skills-section{
    background: #0f2953;
}
.skills-container{
    max-width: 1100px;
    margin: 0 auto;
    padding: 20px 15px;
    color: #fff;
}
.skills-container h1,.project-section-container h1{
    text-transform: capitalize;
    font-size: 40px;
    margin-bottom: 15px;
    letter-spacing: 1px;
    text-align: center;
}
.skills-container p,.project-section-container p{
    font-size: 18px;
    max-width: 500px;
    margin: 0 auto;
    line-height: 30px;
    letter-spacing: 1px;
    text-align: center;
}
.skills-grid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 50px;
}
.skills-grid > div > div > div{
    width: fit-content;
    display: flex;
    align-items: center;
    gap: 5px;
    text-transform: uppercase;
    border: 1px solid #3B82F6;
    border-radius: 10px;
    padding: 5px 10px;
    
}
.skills-grid > div:nth-child(1) > div > div:nth-child(2) img{
    width: 30px;
}
.skills-grid > div:nth-child(2) > div > div:nth-child(1) img{
    width: 35px;
}
.skills-grid > div:nth-child(2) > div > div:nth-child(2) img{
    width: 25px;
}
.skills-grid > div:nth-child(4) > div > div:nth-child(4) img{
    width: 30px;
}
.skills-grid > div:nth-child(1) > div > div:nth-child(3){
    gap: 0;
}
.skills-grid > div:nth-child(1) > div > div:nth-child(3) img{
    width: 60px;
}
.skills-grid > div > div {
    display: flex;
    gap: 15px;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 15px;
}
.skills-grid > div > div > div span{
    font-size: 14px;
    
}
.skills-grid > div{
    width: 100%;
}
.skills-grid > div {
    border: 2px solid #3B82F6;
    margin-bottom: 20px;
    padding:20px 15px;
    border-radius: 10px;
    background: #0F172A;
    box-shadow: 2px 2px 10px rgba(59, 130, 246,0.6);
    cursor: pointer;
}
.skills-grid > div h4{
    text-transform: capitalize;
    font-size: 25px;
    text-align: center;
}
.skills-grid > div > div > div img{
    width: 40px;
}
.projects-section{
    background: #0F172A;
    padding:20px 15px;

}
.projects-section .project-section-container{
    max-width: 1100px;
    margin: 0 auto;
    color: #fff;
    position: relative;
}
.project-section-container p{
    max-width: 900px;
    font-size: 14px;
}
.projectImage{
    max-width: 100%;
    object-fit: cover;
    border-radius: 10px;
}
.project-showcase-grid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
    margin: 40px 0;
}
.project-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    background: #111624;
    padding: 20px 15px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(59, 130, 246,0.8);
    cursor: pointer;
    width: 100%;
    height: 100%;
    position: relative;
    transition: all 0.3s ease-in-out;
}
.projectTitle{
    text-transform: uppercase;
    align-self: flex-start;
    font-size: 16px;
}
.project-container p{
    text-align: left;
    color: #d7d7d7;
}
.project-container:nth-child(1) button,.project-container:nth-child(4) button,.project-container:nth-child(9) button,.project-container:nth-child(6) button{
    position: absolute;
    bottom: 20px;
}
.project-container button{
   align-self: flex-start;
   background: none;
   outline: none;
   border: none;
   color: #fff;
   font-size: 14px;
   text-transform: uppercase;
   border: 2px solid #3B82F6;
    padding:  10px ;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.project-container button:hover{
    color: #3B82F6;
}
.languagesContainer {
    display: flex;
    width: 100%;
    gap: 15px;
    margin-left: 10px;
}
.languagesContainer p{
    margin: 0;
    text-transform: uppercase;
    color: #3B82F6;
    background: #0f2953;
    font-size: 9px;
    padding: 1px 10px;
    border-radius: 20px;
    font-weight: 600;
}
.project-container:hover{
    box-shadow: 0px 0px 15px rgba(59, 130, 246,0.8);
    transform: translateY(-5px);
}
.single-project-container{
    background: #050202;
    padding: 45px 15px;
    max-width: 900px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    border-radius: 15px;
    position: absolute;
    top: 20%;
    left: 10%;
    z-index: 999;
    box-shadow: 0 0 10px rgba(0,0,0,0.8);
}
.singleProjectTitle{
    font-size: 25px;
    margin-left: 35px;
    text-transform: uppercase;
}
.singleLanguagesContainer{
    margin-left: 35px;
}
.singleLanguagesContainer p{
    font-size: 12px;
}
.project-section-container p.projectDesc{
   text-align: left;
   margin-left: 35px;
}
.single-project-container a{
   background: #0f52bf;
   color: #fff;
   text-transform: uppercase;
   text-align: center;
   padding:  10px;
   border-radius: 8px;
   display: block;
   width: 500px;
   margin: 0 auto;
   cursor: pointer;
}
.singleProjectImage{
    max-width: 800px;
    display: block;
    margin: 0 auto;
    border-radius: 15px;
}
.removeBtn{
    background: none;
    border: none;
    color: #fff;
    font-weight: 900;
    font-size: 18px;
    position: absolute;
    right: 50px;
    top: 13px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.removeBtn:hover{
    color: red;
}
.TopBtnScroll{
    background: #0f52bf;
    border: none;
    outline: none;
    padding:  10px;
    color: #fff;
    font-weight: 700;
    position: fixed;
    top: 500px;
    right: 50px;
    border-radius: 50%;
    cursor: pointer;
}
.education-section{
    background: #0f2953;
    color: #fff;
    padding: 20px 15px;
}
.education-section-container{
    max-width: 1100px;
    margin: 0 auto;
    text-align: center;
}
.education-section-container h1{
    text-transform: capitalize;
    font-size: 40px;
    margin-bottom: 15px;
}
.education-section-container > p{
    max-width: 850px;
    margin: 0 auto;
    line-height: 25px;
    font-size: 15px;
    color: #fff;
}
.education-card{
    background: #0F172A;
    padding: 15px 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 750px;
    margin: 25px auto;
    border-radius: 10px;
    border: 2px solid #3B82F6;
    box-shadow: 0 0 10px rgba(59, 130, 246,0.6);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}
.education-card:hover{
    box-shadow: 0 0 15px rgba(59, 130, 246,0.6);
    transform: translateY(-2px);
}
.education-card > div{
    display: flex;
    align-items: center;
    gap: 20px;
}
.school-img{
    max-width: 290px;
}
.school-img img{
    max-width: 100%;
    border-radius: 500px;
    object-fit: cover;
    height: 60px;
}
.school-desc{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}
.school-desc p:nth-child(1){
    font-size: 18px;
    font-weight: 700;
}
.school-desc p:nth-child(1) span{
    text-transform: uppercase;
}
.school-desc p:nth-child(2) span{
    color: rgb(58, 224, 58);
    font-weight: 600;
}
.school-desc p:nth-child(2),.school-desc p:nth-child(3){
    font-size: 14px;
}
.school-desc p:nth-child(3){
    font-size: 11px;
    text-transform: uppercase;
}
.school-desc p:nth-child(3) span:nth-child(1){
    color: green;
    font-weight: 600;
}
.school-desc p:nth-child(3) span:nth-child(2){
    color: rgb(209, 79, 79);
    font-weight: 600;
}
.education-card > p{
    text-align: left;
    max-width: 680px;
    font-size: 15px;
    line-height: 25px;
}
.contact-section{
    background: #0F172A;
    padding: 20px 15px;
    color: #fff;
}
.about-container .buttons{
    display: flex;
    gap: 15px;
}
.contact-section .contact-container{
    max-width: 1100px;
    margin: 0 auto;
    text-align: center;
}
.contact-section .contact-container h1{
    font-size: 40px;
    margin: 0 0 15px;
}
.contact-section .contact-container p{
    max-width: 750px;
    margin: 0 auto;
    line-height: 25px;
    font-size: 15px;
}
form{
    margin: 55px auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background: #0f2953;
    padding: 20px ;
    max-width: 700px;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(59, 130, 246,0.8);
}
.contact-section .contact-container form p{
    margin: 15px 0;
    text-transform: capitalize;
    font-size: 22px;
    font-weight: 700;
}

form div{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    width: 100%;
}
form div input,form div textarea{
    width: 100%;
    padding: 10px 15px;
    background: none;
    outline: none;
    border: 2px solid #0f52bf;
    border-radius: 10px;
    color: #fff;
    font-size: 16px;
}
form div input::placeholder,form div textarea::placeholder{
    color: #d7d7d7;
    text-transform: capitalize;

}
form div button{
    width: 500px;
    padding: 10px 15px;
    background: #0f52bf;
    border: none;
    outline: none;
    cursor: pointer;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    margin: 0 auto;
    font-size: 16px;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
}
form div button:hover{
    box-shadow: 0 0 5px rgba(59, 130, 246,0.3);
}
footer{
    background:#0f2953;
    padding: 20px 15px;
}
footer .footer-container{
    max-width: 1100px;
    margin: 0 auto;
    text-align: center;
}
footer .footer-container h1{
    color: rgb(59, 130, 246);
    text-transform: capitalize;
    font-size: 22px;
    letter-spacing: 1px;
    margin-bottom: 15px;
}
footer .footer-container div:nth-child(2){
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    margin-bottom: 15px;
}
footer .footer-container div:nth-child(2) a{
    font-size: 18px;
    text-transform: capitalize;
    letter-spacing: 1px;
    transition: all 0.3s ease-in-out;
    font-weight: 600;
}
footer .footer-container div:nth-child(2) a:hover,footer .footer-container div:nth-child(3) a:hover{
    color: rgb(59, 130, 246);
}
footer .footer-container div:nth-child(3){
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    margin-top: 30px;
}
footer .footer-container div:nth-child(3) a{
    font-size: 20px;
    transition: all 0.3s ease-in-out;
}
footer .footer-container > p{
    color: #fff;
    margin-top: 30px;
    font-size: 15px;
}
footer .footer-container > p span{
    position: relative;
    padding-bottom: 7px;
}
footer .footer-container > p span::before{
    content: '';
    position: absolute;
    height: 3px;
    background: #0f52bf;
    bottom: 0;
    animation: animation2 3s ease-in-out infinite;
}

@keyframes animation1 {
    0%{
        opacity:0.2
    }
    50%{
        opacity: 0.5;
    }
    100%{
        opacity: 1;
    }
}
@keyframes animation2 {
    0%{
        width: 0%;
    }

    100%{
        width: 100%;
    }
}
/* media queries */
@media screen and (max-width:1285px) {
    .TopBtnScroll {
    right: 10px;
  
}
}
@media screen and (max-width:1196px) {
.TopBtnScroll {
    top: 760px;
  
}
}
@media screen and (max-width:1130px) {
    .about-section {
        padding: 0 25px;
}
}
@media screen and (max-width:1106px) {
    .project-container:nth-child(3) button{
        position: relative;
        top: 30px;
    }
}
@media screen and (max-width:1098px) {
    .project-container:nth-child(3) button{
        position: relative;
        top: 0;
    }
}
@media screen and (max-width:1095px) {
    .project-container:nth-child(8) button{
        position: relative;
        top: 30px;
    }
.TopBtnScroll {
    top: 780px;
  
}
}
@media screen and (max-width:1080px) {
    .single-project-container {
    background: #050202;
    padding: 45px 15px;
    max-width: 900px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    border-radius: 15px;
    position: absolute;
    top: 20%;
    left: 5%;
}
}
@media screen and (max-width:1069px) {
    .project-container:nth-child(8) button{
        position: relative;
        top: 0px;
    }
}
@media screen and (max-width:1050px) {
.about-container {
    transform: translateY(50px);
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
}
.about-container .buttons{
    max-width: 450px;
    margin: 0 auto;
}
.single-project-container {
    background: #050202;
    padding: 45px 15px;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    border-radius: 15px;
    position: absolute;
    top: 20%;
    left: 10%;
}
.singleProjectImage {
    max-width: 100%;
}

.about-container div:nth-child(1) p:nth-child(4){
    line-height: 40px;
    max-width: 100%;
}
.about-container div:nth-child(2) {
    min-width: 30%;
    height: 450px;
}
.about-container div:nth-child(1) {
    text-align: center;
}
.project-showcase-grid {
    grid-template-columns: repeat(2,1fr);
    gap: 30px;
}
.project-container:nth-child(9) {
    height: 480px;
}
.removeBtn {
    right: 20px;
}
.singleProjectTitle {
    margin-left: 10px;
}
.singleLanguagesContainer {
    margin-left: 10px;
}
.project-section-container p.projectDesc {
    margin-left: 10px;
}
}
@media screen and (max-width:970px) {
    .single-project-container {
    max-width: 700px;
    left: 15%;
  
}
}
@media screen and (max-width:960px) {
    header nav div:nth-child(3),header nav #menu {
        display: none;
    }
    header nav div:nth-child(4){
        display: block;
    }
    header nav div:nth-child(4) button{
        border: none;
        outline: none;
        background: none;
        color: #fff;
        font-size: 18px;
        cursor: pointer;
    }
    header {
    background: #0F172A;
    color: #fff;
    padding: 20px;
    }
    .menu-mobile{
        display: flex;
    }
    .menu-mobile a:last-child{
        margin-top: 5px;
    }
}
@media screen and (max-width:907px) {
    .project-container:nth-child(7) button {
        position: relative;
        top: 30px;
}
.single-project-container {
    left: 10%;
}
}
@media screen and (max-width:885px) {
    .project-container:nth-child(7) button {
        position: relative;
        top: 0px;
}
}
@media screen and (max-width:874px) {
    .about-container div:nth-child(2) {
        min-width: 30%;
        height: 400px;
}
}
@media screen and (max-width:850px) {
    .single-project-container {
    left: 5%;
}
}
@media screen and (max-width:790px) {
    .single-project-container {
    max-width: 600px;
    left: 10%;
}
}
@media screen and (max-width:780px) {
    .about-container div:nth-child(2) {
        width: 300px;
    }
    .about-container div:nth-child(1) p {
    font-size: 30px;
    line-height: 48px;
}
}
@media screen and (max-width:730px) {
    .project-container:nth-child(8) button {
        position: relative;
        top: 30px;
}
.single-project-container {
    max-width: 600px;
    left: 5%;
}

}
@media screen and (max-width:710px) {
    .project-showcase-grid {
    grid-template-columns: 1fr;
    }
    .project-container:nth-child(1){
        height: 510px;
    }
    .project-container:nth-child(4),.project-container:nth-child(6){
        height: 600px;
    }
    .project-container:nth-child(9){
        height:520px ;
    }
    .project-container:nth-child(8) button {
    position: relative;
    top: 0px;
}
.project-section-container > p {
    width: 100%;

}

}
@media screen and (max-width:600px) {
.project-container:nth-child(4), .project-container:nth-child(6) {
    height: 550px;
}
}
@media screen and (max-width:690px) {
    .about-container div:nth-child(1) p:nth-child(4) {
        font-size: 16px;
    }
}
@media screen and (max-width:680px) {
    .single-project-container {
    max-width: 500px;
    left: 10%;
}
.single-project-container a {

    width: 400px;
}
}
@media screen and (max-width:645px) {
.education-card > div {
    display: flex;
    flex-direction: column;
}
.school-desc {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}
.education-card > p {
    text-align: center;
    max-width: 100%;
    font-size: 15px;
    line-height: 25px;
}
.education-card{
    padding: 15px;
}
}
@media screen and (max-width:642px) {
    .skills-grid {
        grid-template-columns: 1fr;
        gap: 20px;
}
}
@media screen and (max-width:620px) {
    .single-project-container {
    max-width: 400px;
    left: 15%;
}
.single-project-container a {

    width: 300px;
}
}
@media screen and (max-width:570px) {
    form div button {
    width: 450px;
}
.TopBtnScroll {
    top: 650px;
}
}
@media screen and (max-width:550px) {
    .project-container:nth-child(1),.project-container:nth-child(9) {
    height: 490px;
}
    .single-project-container {

    left: 10%;
}

}
@media screen and (max-width:533px) {
    .about-container div:nth-child(1) p:nth-child(4) {
        font-size: 14px;
}

}
@media screen and (max-width:520px) {
form div button {
    width: 400px;
    
}
}
@media screen and (max-width:500px) {
    .single-project-container {
    left: 5%;
}
.education-section-container > p {
    max-width: 100%;
}
footer .footer-container div:nth-child(2) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-bottom: 15px;
}
}
@media screen and (max-width:491px) {
.project-container:nth-child(4){
    height: 500px;
}
}
@media screen and (max-width:488px) {
    .about-container div:nth-child(1) p:nth-child(4) {
    font-size: 13px;
}
}
@media screen and (max-width:480px) {
    .project-container:nth-child(4) {
    height: 500px;
}
}
@media screen and (max-width:476px) {
    .about-container div:nth-child(1) p:nth-child(3) {
        font-size: 25px;
}
}
@media screen and (max-width:470px) {
form div button {
    width: 350px;
    
}
}
@media screen and (max-width:464px) {
.school-desc p:nth-child(2){
    line-height: 20px;
}
.about-container .buttons{
    flex-direction: column;
}
.about-container div:nth-child(2) {
    min-width: 30%;
    height: 350px;
}
}
@media screen and (max-width:460px) {
     .single-project-container {
        left: 3%;
     }
}
@media screen and (max-width:445px) {
.project-container:nth-child(6) {
    height: 500px;
}
.single-project-container {
    left: 2%;
}
.TopBtnScroll {
    visibility: hidden;
  
}
}
@media screen and (max-width:419px) {
    .about-container div:nth-child(1) p:nth-child(3) {
    font-size: 20px;
    }
form div button {
    width: 300px;
    
}
}
@media screen and (max-width:410px) {
 .project-container:nth-child(9) {
    height: 460px;
}
}
@media screen and (max-width:400px) {
    .project-container:nth-child(1) {
        height: 450px;
}
.project-container:nth-child(6){
    height: 500px;
} 
.project-container:nth-child(9){
    height: 450px;
}
    .about-section {
    padding: 25px;
}
.about-container {
    transform: translateY(0px);
    
}
}
@media screen and (max-width:381px) {
    .about-container div:nth-child(2) {
        height: 160px;
        width: 200px;
        object-fit: cover;
    }

   
}
@media screen and (max-width:375px) {
    .project-container:nth-child(1) {
    height: 450px;
}
.project-container:nth-child(4),.project-container:nth-child(6) {
    height: 500px;
}
.project-container:nth-child(9){
    height: 480px;
}
.school-desc p:nth-child(1) {
   line-height: 25px;
}
}

